
	<div class="whatWeDo-container" style="background-image:url({{file_url(content.field_image['#items'].entity.uri.value)}})">
		<div class="whatWeDo-container__content">
			<div class="whatWeDo-container__subtitle">{{content.field_head}}</div>

			<div class="whatWeDo-container__title">{{label}}</div>

				<p>{{content.field_detail}}</p>

			<div class="whatWeDo-container__action-btns">
			<div class="btn btn-green">{{content.field_link_url}}</div>
			<div class="btn btn-green">{{content.field_secon}}</div>
		</div>
	</div>