

<div class="our-services__list-item">
    <div class="our-services__list-img">
        {{content.field_background_image}}
        {# <img src="assets/img/service-img1.png" alt=" "> #}
    </div>
    <div class="our-services__content">
        <div class="our-services__desc">
            <div class="our-services__icon spin-icon">
                {{content.field_image}}
                {# <img src="assets/img/truck-icon.svg" alt=" "> #}
            </div>
            <h3>{{label}}</h3>
            <p>{{content.field_service_description}}</p>
            <p><a href="{{url}}">More details</a></p>
        </div>
    </div>
</div>