				<div class="slideshow-container__content">
					<div class="container">
						<div class="slideshow-container__contentBg">
							<h2>{{content.field_content}}</h2>
							<h1>{{label}}</p>
								<div class="slideshow-container__actionBtns">
									{{content.field_first_button}}<img src="themes/ministry3/img/arrow-right-white.svg" alt=" ">
									{{content.field_second_button}}<img src="themes/ministry3/img/email-green.svg" alt=" ">
									{# <a href="#" class="btn btn-red">Get in touch <img src="themes/ministry/img/arrow-right-white.svg" alt=" "></a>
									<a href="#" class="email-btn"> <img src="themes/ministry/img/email-white.svg" alt=" "> Staff mail</a> #}
								</div>
						</div>	
					</div>
				</div>
			<div class="slideshow-container__slide-img">{{content.field_image}}</div>